.git
.github
.idea
.vscode
.env
.env.*
!.env.docker
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
*.md
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
